<div *ngFor="let notification of notificationsService.notifications">
  <ng-container
    *ngTemplateOutlet="
    notification.type == SUCCESS ? successTemplate :
    notification.type == ERROR ? errorTemplate :
    defaultTemplate; context: {notification: notification}">
  </ng-container>
</div>

<ng-template #successTemplate let-notification="notification">
  <ng-container
    *ngTemplateOutlet="toastTemplate; context: {notification: notification, classname: 'bg-success text-light'}">
  </ng-container>
</ng-template>

<ng-template #errorTemplate let-notification="notification">
  <ng-container
    *ngTemplateOutlet="toastTemplate; context: {notification: notification, classname: 'bg-danger text-light'}">
  </ng-container>
</ng-template>

<ng-template #defaultTemplate let-notification="notification">
  <ng-container
    *ngTemplateOutlet="toastTemplate; context: {notification: notification, classname: ''}">
  </ng-container>
</ng-template>

<ng-template #toastTemplate let-classname="classname" let-notification="notification">
  <ngb-toast (hidden)="notificationsService.remove(notification)" [autohide]="true"
             [delay]="notification.delay || 5000" class="{{classname}}"
             style="width: 35rem">
    {{notification.text}}
  </ngb-toast>
</ng-template>
